<!DOCTYPE html>
<html>
    <head>
        <style>
            body{background:grey;font:black; padding: 30px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
            h1{font-size:48px;text-align:center;text-transform:uppercase;letter-spacing: 2px;}
            p{font-size:16px;text-align: center;}
        </style>
    </head>  
    <body> 
        <%- include('partials/nav') %>
        <h1>Contact ur mom</h1>
        <p>LMAO</p>
        <form id="contact-form">
        <label for="who">Who?</label>
        <input type="text" name="who" value="<%= qs.person %>"/>
        <label for="department">Department?</label>
        <input type="department" name="department" value="<%= qs.dept %>"/>
        <label for="email">Email</label>
        <input type="email" name="email"/>
        <input type="submit" value="submit" />
    </form>
    </body>
</html>