<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/style.css" type="text/css" />
    </head>  
    <body> 
        <%- include('partials/nav') %>
        <h1>Welcome to the Best</h1>
        <p>Get rickrolled simp</p>
    </body>
</html>